@use '../utils/variables' as v;
.feature-article {
  color: v.$clr-light-900;
  font-size: 1.5rem;
  h3 {
    font-size: 2.75rem;
    font-family: v.$font-secondary;
  }
  p {
    font-size: 1.5rem;
    font-family: v.$font-secondary;
  }
}
