@use '../utils/variables' as v;
footer {
  color: v.$clr-light-900;
  h2 {
    text-align: center;
    font-size: clamp(2rem, 10vw, 7rem);
  }
  .imprint-article {
    h3 {
      font-size: 2rem;
      font-family: v.$font-secondary;
      margin-bottom: 1rem;
    }
    .open-date,
    .location-item {
      font-size: 1.35rem;
      font-weight: 600;
    }
    .open-time {
      font-size: 1.15rem;
    }
  }
  #footer-logo-container {
    .footer-img-container {
      span {
        font-family: v.$font-secondary;
        font-size: 1.55rem;
      }
    }
  }
}
