@keyframes navbar_fade {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes feature_article_scale_p {
  100% {
    transform: scale(1.1);
  }
}
@keyframes feature_article_scale_h3 {
  100% {
    transform: scale(1.25);
  }
}
