$clr-dark-900: rgb(0 0 0);
$clr-dark-600: rgb(0 0 0 / 0.6);
$clr-dark-50: rgb(0 0 0 / 0.05);
$clr-light-900: rgb(255 255 255);
$clr-bg-accent-400: rgb(253, 238, 183);
$font-main: 'Lato', sans-serif;
$font-secondary: 'Overlock SC', cursive;
