@use '../utils/variables' as v;
#feature {
  #feature-article-container {
    max-width: 100%;
    margin-block: 3rem;
    overflow: hidden;

    .feature-article {
      display: flex;
      padding-inline: 5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 40rem;
      aspect-ratio: 1/1;
      position: relative;
      z-index: 1;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 0.65);
        border-radius: 50%;
        z-index: 2;
      }
      &:hover > p {
        animation: feature_article_scale_p 1s forwards;
      }
      &:hover > h3 {
        animation: feature_article_scale_h3 1s forwards;
      }

      h3 {
        margin-bottom: 2rem;
        z-index: 3;
      }
      p {
        z-index: 3;
      }
    }
    article:nth-of-type(1) {
      background-image: url(../../images/article-image-1-original.jpg);
      background-position: 50% 50%;
      background-size: cover;
    }
    article:nth-of-type(2) {
      background-image: url(../../images/article-image-2-original.jpg);
      background-position: 50% 50%;
      background-size: cover;
    }
    article:nth-of-type(3) {
      background-image: url(../../images/article-image-3-original.jpg);
      background-position: 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      article:nth-of-type(1),
      article:nth-of-type(3) {
        padding-left: 10rem;
        transform: translateX(-20%);
      }
      article:nth-of-type(2) {
        transform: translateX(20%) translateY(-5%);
        padding-inline: 8rem 10rem;
        margin-inline: auto 0;
      }
      article:nth-of-type(3) {
        transform: translateX(-20%) translateY(-10%);
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      article:nth-of-type(1),
      article:nth-of-type(3) {
        padding-left: 10rem;
        transform: translateX(-20%);
      }
      article:nth-of-type(2) {
        transform: translateX(0) translateY(0);
        padding-inline: 8rem;
        margin-inline: auto;
      }
      article:nth-of-type(3) {
        transform: translateX(20%) translateY(0);
        padding-inline: 5rem 10rem;
        margin-inline: auto 0;
      }
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-evenly;
      margin-block: 7.5rem;

      .feature-article {
        padding-inline: 8rem;
      }
    }
  }
  #feature-image-container {
    padding: 3vh;
    img {
      margin-inline: auto;
      display: block;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 3rem;
      aspect-ratio: 1.5/1;
      object-fit: cover;
    }
    // @media screen and (min-width: 768px) {
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
    //   gap: 3rem;
    // }
  }
}
