@use '../utils/variables' as v;
#feature {
  .feature-article {
    display: flex;
    padding-inline: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 65vh;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 0.6);
      border-radius: 50%;
      z-index: 2;
    }

    h3 {
      margin-bottom: 2rem;
      z-index: 99;
    }
    p {
      z-index: 99;
    }
  }
  #feature-image-container {
    padding: 3vh;
    img {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  article:nth-of-type(1) {
    background-image: url(../../images/Ancient-Egyptian-Food.jpg);
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 5vh;
  }
  article:nth-of-type(2) {
    background-image: url(../../images/7c2a3222a5ec2ccd74447d849a5f37ac.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }
  article:nth-of-type(3) {
    background-image: url(../../images/food-of-the-ancient-egypt-8.jpg);
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 5vh;
  }
  article:nth-of-type(1),
  article:nth-of-type(3) {
    // padding-inline: 15vh 3rem;
    // transform: translateX(-20%);
  }
  article:nth-of-type(2) {
    margin-inline: auto 0;

    // padding-inline: 8rem 15vh;
    // transform: translateX(20%);
  }
}
