@use '../utils/variables' as v;
#feature {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 15vh 3rem;
    background-color: v.$clr-dark-50;
    border-radius: 50%;
    height: 50vh;
    aspect-ratio: 1/1;
    transform: translateX(-20%);
    margin-block: 5vh;
    h3 {
      margin-bottom: 2rem;
    }
  }
  #feature-image-container {
    padding: 3vh;
    img {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}
