@use '../utils/variables' as v;

footer {
  #imprint-container {
    display: flex;
    flex-wrap: wrap;

    h2 {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
    article {
      flex-basis: 50%;
      padding: 2rem;
      h3,
      p {
        margin-block: 0.5rem;
      }
    }
  }
  background-color: v.$clr-bg-accent-dark-900;
  padding-block: 2rem;
  #footer-logo-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    .footer-img-container {
      display: flex;
      align-items: center;
      img {
        width: 3rem;
        aspect-ratio: 1/1;
        margin-right: 1rem;
      }
      span {
        display: none;
        @media screen and (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    #footer-logo-container {
      display: flex;
      flex-wrap: wrap;
      > * {
        flex-basis: 100%;
      }
    }
  }
}
