@use '../utils/variables' as v;

footer {
  #imprint-container {
    display: flex;
    flex-wrap: wrap;

    h2 {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
    article {
      flex-basis: 50%;
      padding: 2rem;
      h3,
      p {
        margin-block: 0.5rem;
      }
    }
  }
  background-color: v.$clr-bg-accent-dark-900;
  padding: 2rem 5rem;
  #footer-logo-container {
    display: flex;
    justify-content: space-between;
    img {
      width: 5rem;
    }
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    #footer-logo-container {
      display: flex;
      flex-wrap: wrap;
      > * {
        flex-basis: 100%;
      }
    }
  }
}
