header {
  background-image: url(../../images/photo-1578474846511-04ba529f0b88.jpeg);
  height: 95vh;
  background-position: 50% 50%;
  background-size: cover;
  display: grid;
  place-items: center;
  #header-text-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    text-align: center;
  }
}
