@use '../utils/variables' as v;
#impressum {
  background-color: v.$clr-dark-900;
  #inprint-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;

    h2 {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
    article {
      flex-basis: 50%;
      padding: 2rem;
      h3,
      p {
        margin-block: 0.5rem;
      }
    }
  }
}
