@use '../utils/variables' as v;
nav {
  display: flex;
  justify-content: space-between;
  background-color: v.$clr-bg-accent-dark-900;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1rem 2rem;
  img {
    height: 5rem;
    border-radius: 50%;
  }
  #nav-container-right {
    input[type='checkbox'] {
      margin-right: auto;
      appearance: none;
    }
    ul {
      display: none;
      position: absolute;
      left: 0;
      top: 6rem;
      a,
      a:visited,
      a:active {
        color: v.$clr-light-900;
      }
    }
    input[type='checkbox']:checked ~ ul {
      display: flex;
      justify-content: space-between;
      padding: 1rem 3rem;
      width: 100%;
      background-color: v.$clr-bg-accent-dark-900;
    }
    @media screen and (min-width: 1200px) {
      width: 40%;
      input[type='checkbox'] {
        display: none;
      }
      ul {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        position: static;
      }
    }
  }
}
