@use '../utils/variables' as v;
#reservation {
  max-width: 720px;
  margin-inline: auto;
  margin-block: 5rem;
  padding-inline: 2rem;
  form {
    display: flex;
    flex-direction: column;
    input,
    select,
    textarea {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid v.$clr-dark-900;
      outline: none;
      padding: 0.25rem 0.5rem;
    }
    input:focus,
    select:focus,
    textarea:focus {
      border-bottom: 2px solid v.$clr-dark-600;
    }
    label {
      margin-block: 5rem 0.75rem;
    }

    textarea {
      margin-bottom: 3rem;
      resize: none;
    }
    button {
      padding: 1rem 2rem;
      width: 50%;
      background-color: transparent;
      margin-inline: auto;
      &:hover {
        transition: transform 0.15s;
        transform: scale(1.015);
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-block: 10rem;
  }
  @media screen and (min-width: 1200px) {
    margin-block: 12.5rem;
  }
}
