@use '../utils/variables' as v;

#weekly {
  background-color: v.$clr-bg-accent-400;
  padding: 5rem 2rem;
  margin-inline: 2rem;

  h2 {
    margin-bottom: 3rem;
  }
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .item-name {
      flex-basis: 80%;
      font-family: v.$font-secondary;
      font-weight: 600;
    }
    .item-price {
      flex-basis: 20%;
    }
    .item-ingredient {
      max-width: 75%;
      margin-block: 0.75em;
      font-style: italic;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2 {
      grid-column: 1 / span 2;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-inline: auto;
  }
}
